/* --------reset css-------- */


html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

/* ----- reset done -------- */

/* ----- main css -------- */


body {
    display: block;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: lightblue;
    max-width: 1128px;
    margin: 15px auto;
    padding: 20px 20px;
}

/*------ header ------*/

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 3px solid blue;
    margin-bottom: 2%;
}

.logo-img {
    -ms-flex-item-align: center;
    align-self: center;
}

.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-right: 5px;
}

.header-content h1 {
    font-size: 2.5em;
    padding: 10px;
    text-align: right;
}

.header-content p {
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
}

/*------ content ------*/

.main-photo {
    width: 90%;
    margin: 10px auto;
    padding: 0 5%;
}

.projects h2 {
    font-size: 2em;
    text-align: center;
    padding-bottom: 1%;
    border-bottom: blue solid 2px;
    margin: 10px 35% 10px;
}

.project-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.project-links a {
    width: 90%;
    margin: 10px;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1.5em;
    text-align: center;
}

.project-links img {
    max-width: 100%;
    padding-bottom: 2%;
}

/*------ footer ------*/

.footer {
    font-size: 0.6em;
    text-align: right;
    padding-top: 25px;
    color: grey;
}

/* ---------------- main css done-------------------*/

/* ---------------- media queries-------------------*/

@media screen and (max-width: 450px) {
    body {
        font-size: 0.6em;
    }
    .footer {
        font-size: 0.8em;
    }
}
